.testimonial{
    background-color: aqua;
    margin-top: -30px;
    height: 650px;
    display: flex;
    justify-content:space-evenly;
    padding-top: 20%;
}
.test{
    height:250px;
    background-color: gray;
    text-align: center;
}
img{
    border-radius: 50%;
}